footer{
    text-align: center;
    margin-top: 40px;
}
.footer-container{
    
    padding: 10px 10px;
    background-color: #222224;
}
.footer-container .icon{
    margin: 10px;
    color: #222224;
    background-color: #a4a2ab;
    padding:4px ;
    border-radius: 4px;
}